* {
    margin: 0;
    padding: 0;
 
}
.container{
    width: 100%;
    min-height:100vh;
    background: linear-gradient(90deg ,rgb(196, 192, 255), pink);
    padding:10px ;
}
.card {
    width: 90%;
    max-width: 470px;
    background: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
}

.taskbox {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:#edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom:25px ;
}

.taskbox input {
    border: 0;
    outline: 0;
    color: #555;
    padding: 10px ;
    font-size: 18px;
    flex: 1; 
    background:transparent ;
}

.taskbox button {
    border: 0;
    outline: 0;
    padding: 16px 50px;
    background: #ff5945;
    color:#fff;
    border-radius: 40px;
    cursor: pointer;
} 

.task-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}


#tasklist {
    display: block;
    font-size: 20px;
    font-weight: 500;
    list-style-type: none;
}

#tasklist li {
    margin-left: 10px;
}

#tasklist img {
margin-left: auto;
    width: 20px;
    height: 20px;

}

.changed {
    text-decoration: line-through;
    color: #555;
}



@media only screen and (max-width: 767px) {
    .card {
        margin: 50px;
        width: 70%;
    }

}